html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #282c37;
}

.navbar {
  width: 100%;
  background: #d9e1e8;
}

.nav-links {
  word-spacing: 20px;
  margin-bottom: 25px;
  margin-right: 80px;
  float: right;
}

#title {
  color: #728BAC;
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 12px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-top: 2px solid #728BAC;
  font-weight: 300;
  background-color: aliceblue;
}

.display {
    max-height: 600px;
    max-width: 600px;
}
ul {
    list-style: none;
}
li {
    margin: 15px auto;
}
img {
    width: auto;
    max-width: 620px;
    height: auto;
    max-height: 320px;
}
.gradient {
    background-image:
      linear-gradient(
        to bottom right,
        rgb(170, 255, 210),rgb(255, 192, 73)
        );
}
}
